body{
    height: 95vh;
    width: 95vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("https://i.pinimg.com/originals/a4/22/9a/a4229a483cf76e0b5458450c2e591ff3.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.title {
    color: #fff ;
    text-shadow: 4px 4px 2px #000;
}